* {
  box-sizing:border-box;
  margin: 10;
  padding: 0;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

header{
  width: 100%;
  max-width: 1600px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  background-color:aqua;
  margin: 5px;
}

.icono1{
  width: 100%;
  max-width: 80px;
  min-width: 70px;
  }  
  .icono2{
    width: 100%;
    max-width: 80px;
    min-width: 70px;
  }

img{
  width: 70%;
  max-width: 80px;
  min-width: 80px;
}

a {
  color: inherit;
  padding: 0.1em;
  margin: 0.3em;   
}

.button1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.button2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

#inicio {
  text-align: center;
}

#foto {
  width: 100% 50%;
  max-width: 200px;
  align-items: center;
  border-radius: 10%;
}

.button3{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  background-color: none;
}

#contacto{
  text-align: center;
  background-color: aqua;
  justify-content: center;
}






    /* En este archivo escriban su CSS */

/* Fonts */
/* Importar aquí la font */

/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/
