* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.icono_html {
    display: flexbox;

    

    width: 100%;
    max-width: 40px;
}
.icono_css {
    display:;
    width: 100%;
    max-width: 40px;
}

header {
    text-decoration: none;

    width: 100% 50%;
    max-width: 1200px;
    background-color: aquamarine;
    padding: 10px;
    margin: 20px;
    text-decoration: none;
    
}

ul {
    list-style: none;
    scroll-behavior: smooth;
    padding: 0;
    margin: auto;
    text-align: center;
    font-size: 15px;
    border: 5px;

}

.foto {
    ;
}

/* En este archivo escriban su CSS */

img {

    width: 100%;
    max-width: 200px;
    
}
/* Fonts */
/* Importar aquí la font */



/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

